---
import Button from "../ui/Button.astro"
---

<nav>
  <ul class="flex gap-4 bg-accent-100 px-6 py-2 rounded-xl">
    <Button href="#home" variant="link">Inicio</Button>
    <Button href="#why" variant="link">¿Por qué elegir Contract Me?</Button>
    <Button href="#how" variant="link">¿Cómo funciona Contract Me?</Button>
    <Button href="#who" variant="link">¿Qué eres?</Button>
    <Button href="#faq" variant="link">FAQ</Button>
  </ul>
</nav>
